$bp-phone: 450px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$first-font: "Poppins";

$blue-dark: #264065;
$blue-light: #a9d6cb;
$grey: #909090;
$white: #faf8f5;

$bg-primary-color: #272727;
$bg-second-color: #ebebeb;
